<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" (click)="onToggleMenuSidebar()" role="button"
            ><i class="fas fa-bars"></i
        ></a>
</ul>

<ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a (click)="logout()" class="btn btn-default btn-flat float-right"
      >Sign out</a>
    </li>
</ul>
