<div class="card">
    <div class="card-header">
        <h6 class="card-title">Editar Marmita</h6>
    </div>
    <div class="card-body">
                    <th class="text-center">Nome</th>

                    <tr>
                        <div class="form-outline">
                            <input type="text" id="typeText" class="form-control"
                            placeholder="Nome da marmita" [(ngModel)]="marmita.nome">
                          </div>
                    </tr>
           
                    <div class="card-header">
                        <button class="btn btn-primary" type="submit" (click)="updateMarmita()">
                            Salvar alterações
                        </button>
                        <button class="btn btn-primary mb1 bg-red" type="submit" (click)="cancel()">
                            Cancelar
                        </button>

                        </div>