        <table-component  [cols]="3">

            <tr id="usertableheader">
                <th style="width: 10px">#</th>
                <th class="text-center">Nome</th>
                <th class="text-center">Ação</th>
            </tr>
            <tr id="usertablebody" *ngFor="let marmita of marmitas">
                <td>{{marmita.id}}</td>
                <td class="text-center">{{marmita.nome}}</td>
                <td class="text-center">
                    <button class="btn btn-flat btn-sucess" routerLink="/marmitas/update/{{marmita.id}}" 
                    title="Editar marmita" alt="Editar marmita">
                    <i class="fas fa-edit"></i>
                    </button>&nbsp;

                    <button class="btn btn-sm btn-danger"  routerLink="/marmitas/delete/{{marmita.id}}" 
                    title="Deletar marmita" alt="Deletar marmita">
                    <i class="fas fa-trash-alt"></i>
                    </button>
                    
                </td>
            </tr>

        </table-component>

        <div class="card-header">
            <button class="btn btn-primary" type="submit" (click)="navigateToMarmitaNew()">
                + Adicionar tipo de marmita
            </button>
            </div>
