<div class="card">
  <div class="card-header">
      <h6 class="card-title">Nova Residência Geral</h6>
  </div>
  <div class="card-body">
                  <th class="text-center">Nome da Casa Comunitária</th>
                  <tr>
                      <div class="form-outline">
                          <input type="text" id="typeText" class="form-control"
                          placeholder="Ex.: 'RG5'" [(ngModel)]="residenciaGeral.nomeResidenciaGeral">
                        </div>
                  </tr>

                  <th class="text-center">Quantidade de missionários</th>
                  <tr>
                      <div class="form-outline">
                          <input type="text" id="typeText" class="form-control"
                          placeholder="Quantidade" [(ngModel)]="residenciaGeral.quantidadeMisionarios">
                        </div>
                  </tr>

                  <div class="card-header">
                      <button class="btn btn-primary" type="submit" (click)="createResidenciaGeral()">
                          Adcionar
                      </button>
                      </div>
