<table-component  [cols]="4">

  <tr id="usertableheader">
      <th style="width: 10px">#</th>
      <th class="text-center">Casa Comunitária</th>
      <th class="text-center">Quantidade de missionários</th>
      <th class="text-center">Ação</th>
  </tr>
  <tr id="usertablebody" *ngFor="let residenciaGeral of residenciasGerais">
      <td>{{residenciaGeral.id}}</td>
      <td class="text-center">{{residenciaGeral.nomeResidenciaGeral}}</td>
      <td class="text-center">{{residenciaGeral.quantidadeMisionarios}}</td>
      <td class="text-center">
          <button class="btn btn-flat btn-sucess" routerLink="/residenciaGeral/update/{{residenciaGeral.id}}"
          title="Editar RG" alt="Editar RG">
          <i class="fas fa-edit"></i>
          </button>&nbsp;

          <button class="btn btn-sm btn-danger"  routerLink="/residenciaGeral/delete/{{residenciaGeral.id}}"
          title="Deletar RG" alt="Deletar RG">
          <i class="fas fa-trash-alt"></i>
          </button>

      </td>
  </tr>

</table-component>

<div class="card-header">
  <button class="btn btn-primary" type="submit" (click)="navigateToResidenciaGeralNew()">
      + Adicionar Residência Geral
  </button>
  </div>
