<div class="card">
    <div class="card-header">
        <h6 class="card-title">Deletar Marmita</h6>
    </div>
    <div class="card-body">
                    <th class="text-center">Nome</th>

                    <tr>
                        <div class="form-outline">
                            <input type="text" id="typeText" class="form-control"
                            placeholder="Nome da marmita" [value]="marmita.nome" disabled>
                          </div>
                    </tr>
           
                    <div class="card-header">
                        <button class="btn btn-primary" type="submit" (click)="deleteMarmita()">
                            Confirmar 
                        </button>
                        </div>