<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1"><b>Cozinha</b>Industrial</a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Entre para começar</p>

        <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()">
            <div class="input-group mb-3">
                <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember" />
                        <label for="remember"> Lembrar Senha </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-5">
                    <app-button
                        [type]="'submit'"
                        [block]="true"
                        [loading]="isAuthLoading"
                        [disabled]="isGoogleLoading"
                    >
                        Entrar
                    </app-button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center mb-3">
            
            <app-button
                [block]="true"
                [loading]="isGoogleLoading"
                [disabled]="isAuthLoading"
                [icon]="'google'"
                [color]="'danger'"
                (click)="loginByGoogle()"
            >
                Entrar usando o Gmail
            </app-button>
        </div>

        <p class="mb-1">
            <a [routerLink]="['/forgot-password']">Esqueci a Senha</a>
        </p>
        <p class="mb-0">
            <a [routerLink]="['/register']" class="text-center">
                Criar nova conta
            </a>
        </p>
    </div>
    <!-- /.login-card-body -->
</div>
